---
Language: Cpp
BasedOnStyle: Google  # You can choose LLVM, Google, Chromium, Mozilla, WebKit
# Line breaking
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true

# Indentation
IndentWidth: 2  # Google style uses 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -1

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Line length and breaking
ColumnLimit: 80
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true

# Function declarations/definitions
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Stroustrup

# Classes
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true

# Comments and preprocessing
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true

# Add extra line breaks between functions and classes
SeparateDefinitionBlocks: Always
